.parallax-bg {
            background-image: url('/IMG/ErebusArt.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: -1;
        }
        body, html {
            height: 100%;
            margin: 0;
        }
        .content-wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        main {
            flex-grow: 1;
        }

/* General styles for the footer menu */
#footer-menu {
    display: none; /* Default state for small screens */
}

/* Show the footer menu on larger screens */
@media (min-width: 769px) {
    #footer-menu {
        display: flex; /* Ensure the menu is visible on larger screens */
    }
}

/* Ensure the footer logo and other elements are not affected on larger screens */
@media (min-width: 769px) {
    .footer-logo {
        display: block; /* Ensure the logo is always visible on larger screens */
    }
}